<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Create user</h1>
<br>
<form action="/create" method="POST">
<p>User: </p>
<input name="user">
<br><br>
<button>Inserir</button>
</form>

