
{% block body %}
<form>
  <img src="/images/logo.svg" height="42">

  {% include "_partials/flash.njk" %}

  <input type="email" name="email" placeholder="E-mail">
  <input type="password" name="password" placeholder="Sua senha">

  <button type="submit">Entrar</button>
  <a href="/api/signup">Nova conta</a>
</form>

{% endblock %}
